.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}
.toggle-switch__circle {
  height: 28px;
  width: 28px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.2s;
}
.toggle-switch__text {
  position: absolute;
  font-size: 14px;
  color: #7e7e7e;
  top: 2px;
}

.toggle-switch__text_f {
  left: 9px;
  color: white;
  transition: ease 0.2s;
}

.toggle-switch__text_c {
  right: 9px;
  transition: ease 0.2s;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_f {
  color: #7e7e7e;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__text_c {
  color: white;
}
