.card {
  width: 323px;

  border-radius: 12px;
  border: solid 1px #0000004d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.card__name {
  margin: 0;
  color: #00000099;
  font-family: "Cabinet", Arial, sans-serif;
  font-weight: 700;

  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  padding: 2px 12px;

  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  cursor: pointer;
  width: 100%;
  border-radius: inherit;
  height: 328px;
  object-fit: cover;
}

.card__like-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__like-button-image {
  width: 18px;
  height: 15px;
}
