.cards__weather-statement {
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  gap: 21px;
}
