.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  font-size: 20px;
  line-height: 24px;
  max-width: 1360px;
  padding: 32px 0 28px;
}

.header__logo-details-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__logo {
  width: 89px;
  height: 40px;
}

.header__add-and-user-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__add-clothes-btn {
  border: none;
  cursor: pointer;
}

.header__profile-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
