.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-family: "Cabinet", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  max-width: 1360px;
  padding: 32px 0 28px;
}

.header__logo-details-container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__logo {
  width: 89px;
  height: 40px;
}

.header__add-and-user-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header__text-btn {
  border: none;
  cursor: pointer;
}

.header__profile-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.header__profile-nav-link {
  text-decoration: none;
  color: inherit;
}

.header__avatar-placeholder {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(118, 182, 238);
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
