.Sidebar {
  width: 385px;
  height: 100vh;
}

.Sidebar__user-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: none;
  cursor: pointer;
}

.Sidebar__avatar {
  width: 40px;
  height: 40px;
}
