.footer {
  font-family: "Cabinet", Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 171px 0 24px 0;
}

.footer__text {
  margin: 0;
}

.footer__date {
  margin: 0;
}
